In [ ]:
# Course Data Tests Notebook

In [ ]:
# Testing the integrity of your new CourseData.db

In [1]:
%load_ext sql
%sql sqlite:///CourseData.db

'Connected: @CourseData.db'

In [5]:
%%sql
--Dropping tables for when we need to restart and clear CourseData database-- 

DROP TABLE IF EXISTS SECTION;
DROP TABLE IF EXISTS CATALOG
;
DROP TABLE IF EXISTS INSTRUCTOR;
DROP TABLE IF EXISTS COURSE_MEETINGS;

 * sqlite:///CourseData.db
Done.
Done.
Done.
Done.

[]

In [6]:
%%sql
-- Creating table INSTRUCTOR with surrogate primary key-- 

CREATE TABLE 'INSTRUCTOR' (
    InID INTEGER NOT NULL PRIMARY KEY,
    Name TEXT NOT NULL
);

--Creating table CATALOG with CatID as the primary key-- 

CREATE TABLE 'CATALOG'(
    CatID VARCHAR PRIMARY KEY,
    Title VARCHAR NOT NULL,
    Description TEXT NOT NULL,
    Credits TEXT NOT NULL,
    PName TEXT NOT NULL,
    PCode TEXT,
    PREREQS TEXT,
    COREQS TEXT,
    FEES INTEGER,
    Attribute TEXT
    
);

--Creating table SECTION with surrogate primary key-- 

CREATE TABLE 'SECTION'(
    SID INTEGER NOT NULL PRIMARY KEY,
    CRN INTEGER NOT NULL,
    Term TEXT NOT NULL,
    Section VARCHAR NOT NULL,
    Cap INTEGER,
    Act INTEGER,
    Rem INTEGER,
    CatID VARCHAR,
    InID INTEGER,
    FOREIGN KEY (CatID) REFERENCES COURSE(CatID),
    FOREIGN KEY (InID) REFERENCES INSTRUCTOR(InID)
);

--Creating table COURSE_MEETINGS with CatID as the Primary Key-- 

CREATE TABLE 'COURSE_MEETINGS' (
    MID INTEGER NOT NULL PRIMARY KEY,
    CRN INTEGER NOT NULL,
    Term TEXT NOT NULL,
    Start TEXT NOT NULL,
    Location VARCHAR NOT NULL,
    Day TEXT NOT NULL,
    End TEXT NOT NULL,
    FOREIGN KEY (CRN) REFERENCES SECTION(CRN),
    FOREIGN KEY (Term) REFERENCES SECTION(Term)
);

 * sqlite:///CourseData.db
Done.
Done.
Done.
Done.

[]

In [7]:
%%sql

--Populating Course_Meetings table using import_course_meetings data-- 

INSERT INTO Course_Meetings (CRN, Term, Start, Location, Day, End)
SELECT DISTINCT crn, term, start, location, day, end 
FROM import_course_meetings;

 * sqlite:///CourseData.db
Done.

[]

In [8]:
%%sql 

--Populating Catalog table using import_catalogs data--  

INSERT INTO Catalog (CatID, Title, Description, Credits, PName, PCode, PREREQS, COREQS, FEES, Attribute)
SELECT DISTINCT catalog_id, course_title, description, credits, program_name, program_code, prereqs, coreqs, fees, attributes
FROM import_catalogs;

 * sqlite:///CourseData.db
Done.

[]

In [9]:
%%sql 

--Populating Instructor table using import_courses data--  

INSERT INTO Instructor (Name)
SELECT DISTINCT primary_instructor
FROM import_courses;

 * sqlite:///CourseData.db
Done.

[]

In [10]:
%%sql 

--Populating the SECTION table using import_courses data--
--Joining Instructor table using import_courses and instructor table--

INSERT INTO SECTION (CRN, Term, Section, Cap, Act, Rem, CatID, InID)
SELECT crn, term, section, cap, act, rem, catalog_id, InID
FROM import_courses
    JOIN Instructor ON (import_courses.primary_instructor = Instructor.Name)
;

 * sqlite:///CourseData.db
Done.

[]

# Querries

In [11]:
%%sql
/* Using SELECT to look for duplicate a data records  */
SELECT COUNT(*)
    FROM Catalog;

 * sqlite:///CourseData.db
Done.

[(2221,)]

In [12]:
%%sql
/* Using SELECT DISTINCT to look for duplicate a data records  */

SELECT DISTINCT COUNT(*)
    FROM Catalog;

 * sqlite:///CourseData.db
Done.

[(2221,)]

In [13]:
%%sql
/* Using SELECT  to look for duplicate a data records  */
SELECT COUNT(*)
    FROM Instructor;

 * sqlite:///CourseData.db
Done.

[(1105,)]

In [14]:
%%sql
/* Using SELECT DISTINCT to look for duplicate a data records  */
SELECT DISTINCT COUNT(*)
    FROM Instructor;

 * sqlite:///CourseData.db
Done.

[(1105,)]

In [15]:
%%sql
/* Using SELECT  to look for duplicate a data records  */
SELECT COUNT(*)
    FROM Section;

 * sqlite:///CourseData.db
Done.

[(17435,)]

In [16]:
%%sql
/* Using SELECT DISTINCT to look for duplicate a data records  */
SELECT DISTINCT COUNT(*)
    FROM Section;

 * sqlite:///CourseData.db
Done.

[(17435,)]

In [17]:
%%sql
/* Using SELECT to look for duplicate a data records  */
SELECT COUNT(*)
    FROM Course_Meetings;

 * sqlite:///CourseData.db
Done.

[(311142,)]

In [18]:
%%sql
/* Using SELECT DISTINCT to look for duplicate a data records  */
SELECT DISTINCT COUNT(*)
    FROM Course_Meetings;

 * sqlite:///CourseData.db
Done.

[(311142,)]