In [ ]:
# Course Data Tests Notebook

In [ ]:
# Testing the integrity of your new CourseData.db

In [1]:
%load_ext sql
%sql sqlite:///CourseData2.db

'Connected: @CourseData2.db'

# Querries

In [2]:
%%sql
/* Using SELECT to look for duplicate a data records  */

SELECT COUNT(CRN), COUNT(Term)
FROM SECTION;

 * sqlite:///CourseData2.db
(sqlite3.OperationalError) no such table: SECTION [SQL: '/* Using SELECT to look for duplicate a data records  */\n\nSELECT COUNT(CRN), COUNT(Term)\nFROM SECTION;'] (Background on this error at: http://sqlalche.me/e/e3q8)

In [ ]:
%%sql
/* Using SELECT DISTINCT to look for duplicate a data records  */

SELECT DISTINCT COUNT(CRN), COUNT(Term)
FROM SECTION;

In [ ]:
%%sql
/* Using SELECT  to look for duplicate a data records  */
SELECT COUNT(Name)
    FROM Instructor;

In [ ]:
%%sql
/* Using SELECT DISTINCT to look for duplicate a data records  */
SELECT DISTINCT COUNT(Name)
    FROM Instructor;

In [ ]:
%%sql
/* Using SELECT  to look for duplicate a data records  */
SELECT COUNT(Title), COUNT(CatID)
    FROM Catalog;

In [ ]:
%%sql
/* Using SELECT DISTINCT to look for duplicate a data records  */
SELECT DISTINCT COUNT(Title), COUNT(CatID)
    FROM Catalog;

In [ ]:
%%sql
/* Using SELECT to look for duplicate a data records  */
SELECT COUNT(CRN), COUNT(Term)
    FROM Course_Meetings;

In [ ]:
%%sql
/* Using SELECT DISTINCT to look for duplicate a data records  */
SELECT DISTINCT COUNT(CRN), COUNT(Term)
    FROM Course_Meetings;