In [1]:
import pandas as pd 
import numpy as np
import sqlite3
conn = sqlite3.connect('CourseData2.db')
c = conn.cursor()

In [2]:
%load_ext sql

In [3]:
%%sql
sqlite:///CourseData2.db

'Connected: @CourseData2.db'

In [4]:
%%sql
--Dropping tables for when we need to restart and clear CourseData database-- 
--Drop ERD tables--
DROP TABLE IF EXISTS SECTION;
DROP TABLE IF EXISTS CATALOG;
DROP TABLE IF EXISTS INSTRUCTOR;
DROP TABLE IF EXISTS COURSE_MEETING;

--Drop import tables--
DROP TABLE IF EXISTS import_course;
DROP TABLE IF EXISTS import_course_meeting;
DROP TABLE IF EXISTS import_course_catalog;

 * sqlite:///CourseData2.db
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

## Create Tables (Import and ERD) ##

In [5]:
%%sql
--Creating import_catalog table-- 

CREATE TABLE 'import_course_catalog' (
    program_code TEXT NOT NULL,
    program_name VARCHAR NOT NULL,
    catalog_id VARCHAR NOT NULL,
    course_title VARCHAR NOT NULL, 
    credits VARCHAR NOT NULL,
    prereqs VARCHAR, 
    coreqs VARCHAR,
    fees VARCHAR,
    attributes VARCHAR,
    description VARCHAR 
);

 * sqlite:///CourseData2.db
Done.

[]

In [6]:
%%sql
--Creating import_course_meeting table-- 

CREATE TABLE 'import_course_meeting' (
    term VARCHAR NOT NULL,
    crn INTEGER NOT NULL,
    location VARCHAR NOT NULL,
    day TEXT NOT NULL,
    start VARCHAR NOT NULL,
    end VARCHAR NOT NULL 
);

 * sqlite:///CourseData2.db
Done.

[]

In [7]:
%%sql
--Creating import_course table-- 

CREATE TABLE 'import_course' (
    term VARCHAR NOT NULL,
    crn INTEGER NOT NULL,
    catalog_id VARCHAR NOT NULL,
    section VARCHAR NOT NULL,
    credits VARCHAR,
    title VARCHAR, 
    meetings VARCHAR,
    timecodes VARCHAR, 
    primary_instructor TEXT,
    cap INTEGER, 
    act INTEGER, 
    rem INTEGER 
);

 * sqlite:///CourseData2.db
Done.

[]

In [8]:
%%sql
-- Creating table INSTRUCTOR with surrogate primary key-- 

CREATE TABLE 'INSTRUCTOR' (
    InID INTEGER NOT NULL PRIMARY KEY,
    Name TEXT NOT NULL
);

--Creating table CATALOG with CatID as the primary key-- 

CREATE TABLE 'CATALOG'(
    CatalogClassifier INTEGER PRIMARY KEY,
    CatID VARCHAR,
    Title VARCHAR NOT NULL,
    Description TEXT,
    Credits TEXT NOT NULL,
    PName TEXT NOT NULL,
    PCode TEXT,
    PREREQS TEXT,
    COREQS TEXT,
    FEES INTEGER,
    Attribute TEXT
    
);

--Creating table SECTION with surrogate primary key-- 

CREATE TABLE 'SECTION'(
    SID INTEGER NOT NULL PRIMARY KEY,
    CRN INTEGER NOT NULL,
    Term TEXT NOT NULL,
    Section VARCHAR NOT NULL,
    Cap INTEGER,
    Act INTEGER,
    Rem INTEGER,
    CatID VARCHAR,
    CatalogClassifier INTEGER, 
    InID INTEGER,
    FOREIGN KEY (CatalogClassifier) REFERENCES CATALOG(CatalogClassifier),
    FOREIGN KEY (InID) REFERENCES INSTRUCTOR(InID)
);

--Creating table COURSE_MEETING with CatalogClassifier as the Primary Key-- 

CREATE TABLE 'COURSE_MEETING' (
    MID INTEGER NOT NULL PRIMARY KEY,
    CRN INTEGER NOT NULL,
    Term TEXT NOT NULL,
    Start TEXT NOT NULL,
    Location VARCHAR NOT NULL,
    Day TEXT NOT NULL,
    End TEXT NOT NULL,
    FOREIGN KEY (CRN) REFERENCES SECTION(CRN),
    FOREIGN KEY (Term) REFERENCES SECTION(Term)
);

 * sqlite:///CourseData2.db
Done.
Done.
Done.
Done.

[]

## Populate the Import Tables with the Data from the csv files ##

**Creating dataframes for the import course**

In [9]:
## populating import_course table
fall = ['SourceData/Fall2014/courses.csv','SourceData/Fall2015/courses.csv', 'SourceData/Fall2016/courses.csv',
        'SourceData/Fall2017/courses.csv','SourceData/Fall2018/courses.csv']
dff0 = pd.read_csv(fall[0])
dff1 = pd.read_csv(fall[1])
dff2 = pd.read_csv(fall[2])    
dff3 = pd.read_csv(fall[3])
dff4 = pd.read_csv(fall[4])

In [10]:
df_fall = pd.concat([dff0, dff1, dff2, dff3, dff4], axis=0)
df_fall.sample(5)

,term,crn,catalog_id,section,credits,title,meetings,timecodes,primary_instructor,cap,act,rem
484,Fall2015,76950,EN 0135,B,3.000,Graphic Novels as Thriller and Chillers,"[{'days': 'MR', 'times': '0330pm-0445pm', 'dat...",['MR 0330pm-0445pm 09/01-12/07 DMH 349'],Curtis P. Ferree,25,25,0
1085,Fall2018,74598,NS 0312,01,5.000,Medical Surgical Nursing I,"[{'days': 'TF', 'times': '0200pm-0315pm', 'dat...",['TF 0200pm-0315pm 09/04-12/10 NHS 204'],Karen H. Burrows,60,57,3
293,Fall2015,75849,CS 0232,A,3.000,Data Structures,"[{'days': 'R', 'times': '0630pm-0900pm', 'date...",['R 0630pm-0900pm 09/01-12/07 BNW 335'],Philip LaMastra,24,16,8
476,Fall2016,77480,EN 0012,02,3.000,Texts and Contexts II: Writing About Literature,"[{'days': 'MR', 'times': '0930am-1045am', 'dat...",['MR 0930am-1045am 09/06-12/12 CNS 209'],Elizabeth A. Petrino,19,19,0
878,Fall2017,72224,FT 0560,01,3.000,Practicum in Family Therapy II,"[{'days': 'M', 'times': '0200pm-0700pm', 'date...",['M 0200pm-0700pm 09/05-12/18 SWH 102'],Leah P. Brown,8,4,4

In [11]:
df_fall.describe()

                crn         cap          act          rem
count   7486.000000  7486.00000  7486.000000  7486.000000
mean   74523.769169    18.39487    16.310446     2.219076
std     2512.545835    14.41373     9.863494    17.175757
min    70001.000000     0.00000    -1.000000   -75.000000
25%    72213.000000    12.00000     8.000000     0.000000
50%    74848.500000    19.00000    16.000000     1.000000
75%    76698.750000    25.00000    24.000000     5.000000
max    79215.000000   500.00000    90.000000   999.000000

In [12]:
spring = ['SourceData/Spring2015/courses.csv','SourceData/Spring2016/courses.csv', 'SourceData/Spring2017/courses.csv',
        'SourceData/Spring2018/courses.csv','SourceData/Spring2019/courses.csv', 'SourceData/SpringBreak2017/courses.csv']
dfs0 = pd.read_csv(spring[0])
dfs1 = pd.read_csv(spring[1])
dfs2 = pd.read_csv(spring[2])    
dfs3 = pd.read_csv(spring[3])
dfs4 = pd.read_csv(spring[4])
dfs5 = pd.read_csv(spring[5])

In [13]:
df_spring = pd.concat([dfs0,dfs1,dfs2,dfs3,dfs4,dfs5], axis=0)
df_spring.sample(5)

,term,crn,catalog_id,section,credits,title,meetings,timecodes,primary_instructor,cap,act,rem
1328,Spring2016,39161,SP 0253,B,3.000,Spanish-American Civilization,"[{'days': 'MR', 'times': '0330pm-0445pm', 'dat...",['MR 0330pm-0445pm 01/19-05/03 DMH 131'],Antonio Martinez-Meraz,15,13,2
1130,Spring2019,37469,PH 0101,09,3.000,Introduction to Philosophy,"[{'days': 'MR', 'times': '1100am-1215pm', 'dat...",['MR 1100am-1215pm 01/22-04/30 CNS 104'],Dennis K. Keenan,25,25,0
933,Spring2019,37770,MU 0079,01,2.000,Private Lessons: Percussion,[],[],Melissa A. Roberto,10,0,10
447,Spring2019,38893,EG 0145,02,3.000,Mathematical Analysis,"[{'days': 'TF', 'times': '1100am-1215pm', 'dat...",['TF 1100am-1215pm 01/22-04/30 NHS 411'],Djedjiga Belfadel,15,18,-3
1267,Spring2015,34140,RS 0398,LWC,3.000,Independent Study,[],[],Lydia E. N. Ciollo,1,1,0

In [14]:
df_spring.describe()

                crn          cap          act          rem
count   7122.000000  7122.000000  7122.000000  7122.000000
mean   35212.001966    18.123982    15.658804     2.465178
std     2618.670948    10.876640    10.342885     6.497100
min    31001.000000     0.000000     0.000000   -47.000000
25%    32773.250000    11.000000     7.000000     0.000000
50%    34835.000000    19.000000    16.000000     1.000000
75%    37693.750000    25.000000    24.000000     4.000000
max    41702.000000   100.000000    90.000000    89.000000

In [15]:
summer = ['SourceData/Summer2015/courses.csv', 'SourceData/Summer2016/courses.csv',
        'SourceData/Summer2017/courses.csv','SourceData/Summer2018/courses.csv']
dfsm0 = pd.read_csv(summer[0])
dfsm1 = pd.read_csv(summer[1])
dfsm2 = pd.read_csv(summer[2])    
dfsm3 = pd.read_csv(summer[3])

In [16]:
df_summer = pd.concat([dfsm0,dfsm1,dfsm2,dfsm3], axis=0)
df_summer.sample(5)

,term,crn,catalog_id,section,credits,title,meetings,timecodes,primary_instructor,cap,act,rem
161,Summer2016,56019,MA 0017,01,3.000,Introduction to Probability and Statistics,"[{'days': 'MTWRF', 'times': '0800am-1000am', '...",['MTWRF 0800am-1000am 06/06-07/01 BNW 256'],Mary V. Grant,25,10,15
149,Summer2018,58251,FT 0470,01,3.000,Professional Practice with LGBTQ Youth and Fam...,"[{'days': 'T', 'times': '1000am-0500pm', 'date...","['T 1000am-0500pm 07/17-07/17 CNS 108', 'T 100...",Erica E. Hartwell,20,18,2
115,Summer2015,55192,EN 0163,01,3.000,The Literature of Illness and Healing: Wounded...,[],[],Jacqueline Rinaldi,20,16,4
273,Summer2016,56170,RS 0101E,OL1,3.000,"Exploring Religion: Peoples of the Book, Sacre...",[],[],Vanessa J. Avery,20,16,4
172,Summer2016,56426,MU 0120,OL1,3.000,The History of American Song,[],[],Laura Nash,20,17,3

In [17]:
df_summer.describe()

                crn          cap          act          rem
count   1224.000000  1224.000000  1224.000000  1224.000000
mean   56704.305556    14.843954    10.913399     3.928922
std     1143.898206    10.771969     9.124774     6.881239
min    55001.000000     0.000000    -1.000000   -24.000000
25%    55382.750000     6.000000     5.000000     0.000000
50%    56517.500000    16.000000     9.000000     3.000000
75%    58008.500000    20.000000    15.000000     9.000000
max    58477.000000    60.000000    59.000000    24.000000

In [18]:
winter = ['SourceData/Winter2015/courses.csv', 'SourceData/Winter2016/courses.csv',
        'SourceData/Winter2017/courses.csv','SourceData/Winter2018/courses.csv']
dfw0 = pd.read_csv(winter[0])
dfw1 = pd.read_csv(winter[1])
dfw2 = pd.read_csv(winter[2])    
dfw3 = pd.read_csv(winter[3])

In [19]:
df_winter = pd.concat([dfw0,dfw1,dfw2,dfw3], axis=0)
df_winter.sample(5)

,term,crn,catalog_id,section,credits,title,meetings,timecodes,primary_instructor,cap,act,rem
4,Winter2015,10911,BU 0211,A,3.000,Legal Environment of Business,"[{'days': 'MTWRF', 'times': '0830am-0430pm', '...",['MTWRF 0830am-0430pm 01/05-01/09 DSB 109'],Sharlene A. McEvoy,15,16,-1
13,Winter2015,10901,ENW 0332,01,3.000,Business Writing,[],[],Maeve L. Lucey,20,8,12
13,Winter2018,11803,FI 0500,01,3.000,Shareholder Value,"[{'days': 'MTWRF', 'times': '0600pm-1000pm', '...","['MTWRF 0600pm-1000pm 01/05-01/13 DSB 114', 'S...",Thomas E. Conine,16,7,9
7,Winter2018,11809,CO 0246,01,3.000,Family Communication,"[{'days': 'MTWRF', 'times': '0830am-0430pm', '...",['MTWRF 0830am-0430pm 01/04-01/10 DMH 350'],Margaret A. Wills,15,8,7
6,Winter2015,10895,CO 0240,01,3.000,Intercultural Communication,[],[],Qin Zhang,20,11,9

In [20]:
df_winter.describe()

                crn         cap         act         rem
count    105.000000  105.000000  105.000000  105.000000
mean   11524.266667   17.133333   12.342857    4.790476
std      355.382575    7.612069    6.584990    6.207463
min    10893.000000    0.000000    0.000000   -3.000000
25%    11603.000000   15.000000    9.000000    0.000000
50%    11633.000000   20.000000   12.000000    4.000000
75%    11802.000000   20.000000   18.000000    9.000000
max    11841.000000   30.000000   25.000000   27.000000

In [21]:
df_course = pd.concat([df_fall, df_spring, df_summer, df_winter], axis=0)
df_course.sample(5)

,term,crn,catalog_id,section,credits,title,meetings,timecodes,primary_instructor,cap,act,rem
572,Spring2019,38760,FTM 0231,01,3.000,Documentary and Experimental Film Production,"[{'days': 'W', 'times': '1100am-0130pm', 'date...",['W 1100am-0130pm 01/22-04/30 XVR 13'],Meryl C. O'Connor,15,5,10
1293,Fall2017,73006,RLD 0486,01,3.000,Developmental Literacy I: Fundamentals of Read...,"[{'days': 'W', 'times': '0455pm-0715pm', 'date...",['W 0455pm-0715pm 09/05-12/18 CNS 108'],Jennifer C. Hornyak,15,15,0
273,Spring2017,32813,CO 0248H,01,3.000,Health Communication for Healthcare Professionals,"[{'days': 'T', 'times': '0500pm-0730pm', 'date...",['T 0500pm-0730pm 01/17-05/02 BNW 124'],Michael P. Pagano,30,26,4
86,Fall2014,72981,AH 0013,A,3.000,"Art of Africa, the Caribbean, and the Americas","[{'days': 'T', 'times': '0630pm-0900pm', 'date...",['T 0630pm-0900pm 09/02-12/08 CNS 1'],Ive E. Covaci,22,20,2
733,Fall2018,75898,HI 0371,01,3.000,Arab-Israeli Conflict,"[{'days': 'W', 'times': '0200pm-0430pm', 'date...",['W 0200pm-0430pm 09/04-12/10 CNS 101'],Silvia Marsans-Sakly,15,13,2

In [22]:
df_course.describe()

                crn           cap           act           rem
count  15937.000000  15937.000000  15937.000000  15937.000000
mean   55172.299178     17.992784     15.578591      2.477317
std    19308.879968     12.671906     10.107690     12.709781
min    10893.000000      0.000000     -1.000000    -75.000000
25%    35426.000000     10.000000      7.000000      0.000000
50%    57145.000000     19.000000     15.000000      1.000000
75%    74541.000000     25.000000     23.000000      5.000000
max    79215.000000    500.000000     90.000000    999.000000

In [23]:
df_course.to_sql('import_course', conn, if_exists='append', index=False)

In [24]:
%%sql
SELECT *
FROM import_course
LIMIT 3;

 * sqlite:///CourseData2.db
Done.

[('Fall2014', 70384, 'AC 0011', 'C01', '3.000', 'Introduction to Financial Accounting', "[{'days': 'TF', 'times': '0800am-0915am', 'dates': '09/02-12/08', 'location': 'DSB 105'}]", "['TF 0800am-0915am 09/02-12/08 DSB 105']", 'Michael P.  Coyne', 0, 31, -31),
 ('Fall2014', 70385, 'AC 0011', 'C02', '3.000', 'Introduction to Financial Accounting', "[{'days': 'TF', 'times': '0930am-1045am', 'dates': '09/02-12/08', 'location': 'DSB 105'}]", "['TF 0930am-1045am 09/02-12/08 DSB 105']", 'Michael P.  Coyne', 0, 31, -31),
 ('Fall2014', 70382, 'AC 0011', 'C03', '3.000', 'Introduction to Financial Accounting', "[{'days': 'TF', 'times': '1230pm-0145pm', 'dates': '09/02-12/08', 'location': 'DSB 105'}]", "['TF 1230pm-0145pm 09/02-12/08 DSB 105']", 'Michael P.  Coyne', 0, 31, -31)]

**Creating dataframes for the import course_meeting**

In [25]:
cm_fall = ['SourceData/Fall2014/course_meetings.csv', 'SourceData/Fall2015/course_meetings.csv',
           'SourceData/Fall2016/course_meetings.csv', 'SourceData/Fall2017/course_meetings.csv',
          'SourceData/Fall2018/course_meetings.csv']
dfcmf1 = pd.read_csv(cm_fall[0])
dfcmf2  = pd.read_csv(cm_fall[1])
dfcmf3  = pd.read_csv(cm_fall[2])
dfcmf4  = pd.read_csv(cm_fall[3])
dfcmf5  = pd.read_csv(cm_fall[4])

In [26]:
df_cmfall = pd.concat([dfcmf1, dfcmf2, dfcmf3, dfcmf4, dfcmf5], axis=0)
df_cmfall.sample(5)

           term    crn  location day                start                  end
423    Fall2015  75051  DSB 110B   F  2015-09-25T09:30:00  2015-09-25T10:45:00
13912  Fall2014  70305   CNS 306   M  2014-12-01T12:30:00  2014-12-01T13:45:00
26368  Fall2014  72562    CNS 10   M  2014-09-22T12:30:00  2014-09-22T13:45:00
19986  Fall2017  71555   BNW 254   F  2017-10-20T11:00:00  2017-10-20T12:15:00
13663  Fall2017  72845   NHS 410   T  2017-09-19T14:00:00  2017-09-19T15:15:00

In [27]:
cm_spring = ['SourceData/Spring2015/course_meetings.csv',
           'SourceData/Spring2016/course_meetings.csv', 'SourceData/Spring2017/course_meetings.csv',
          'SourceData/Spring2018/course_meetings.csv', 'SourceData/Spring2019/course_meetings.csv']
dfcms1 = pd.read_csv(cm_spring[0])
dfcms2  = pd.read_csv(cm_spring[1])
dfcms3  = pd.read_csv(cm_spring[2])
dfcms4  = pd.read_csv(cm_spring[3])
dfcms5  = pd.read_csv(cm_spring[4])

In [28]:
df_cmspring = pd.concat([dfcms1, dfcms2, dfcms3, dfcms4, dfcms5], axis=0)
df_cmspring.sample(5)

,term,crn,location,day,start,end
10593,Spring2017,31209,DSB 110B,F,2017-01-20T09:30:00,2017-01-20T10:45:00
11757,Spring2016,37554,DSB 114,M,2016-05-02T18:30:00,2016-05-02T21:30:00
5200,Spring2019,37076,DMH 348,W,2019-04-03T11:00:00,2019-04-03T11:50:00
24879,Spring2017,31801,BNW 469,W,2017-02-01T20:00:00,2017-02-01T21:15:00
11156,Spring2017,31041,DSB 114,R,2017-02-23T08:00:00,2017-02-23T09:15:00

In [29]:
cm_springbreak = ['SourceData/SpringBreak2017/course_meetings.csv']

dfcmsb1 = pd.read_csv(cm_springbreak[0])

In [30]:
cm_summer = ['SourceData/Summer2015/course_meetings.csv',
           'SourceData/Summer2016/course_meetings.csv', 'SourceData/Summer2017/course_meetings.csv',
          'SourceData/Summer2018/course_meetings.csv']
dfcmsu1 = pd.read_csv(cm_summer[0])
dfcmsu2  = pd.read_csv(cm_summer[1])
dfcmsu3  = pd.read_csv(cm_summer[2])
dfcmsu4  = pd.read_csv(cm_summer[3])

In [31]:
df_cmsummer = pd.concat([dfcmsu1, dfcmsu2, dfcmsu3, dfcmsu4], axis=0)
df_cmspring.sample(5)

,term,crn,location,day,start,end
7226,Spring2015,32886,DMH 148,W,2015-04-01T19:15:00,2015-04-01T21:15:00
27692,Spring2019,37229,CNS 207,R,2019-03-28T17:00:00,2019-03-28T19:30:00
6999,Spring2017,31026,DMH 350,T,2017-01-24T09:30:00,2017-01-24T10:45:00
12905,Spring2015,32021,DSB 114,M,2015-03-16T09:30:00,2015-03-16T10:45:00
21300,Spring2016,37548,VA,M,2016-04-11T07:00:00,2016-04-11T14:00:00

In [32]:
cm_winter = ['SourceData/Winter2015/course_meetings.csv',
           'SourceData/Winter2016/course_meetings.csv', 'SourceData/Winter2017/course_meetings.csv',
          'SourceData/Winter2018/course_meetings.csv']
dfcmw1 = pd.read_csv(cm_winter[0])
dfcmw2  = pd.read_csv(cm_winter[1])
dfcmw3  = pd.read_csv(cm_winter[2])
dfcmw4  = pd.read_csv(cm_winter[3])

In [33]:
df_cmwinter = pd.concat([dfcmw1, dfcmw2, dfcmw3, dfcmw4], axis=0)
df_cmwinter.sample(5)

          term    crn location day                start                  end
0   Winter2016  11618  DSB 104   T  2016-01-05T10:00:00  2016-01-05T18:00:00
41  Winter2017  11702  DSB 115   S  2017-01-14T08:30:00  2017-01-14T16:30:00
62  Winter2018  11833  DSB 109   R  2018-01-04T18:00:00  2018-01-04T21:30:00
50  Winter2016  11615  DSB 112   S  2016-01-09T08:30:00  2016-01-09T16:30:00
9   Winter2015  10913  DSB 115   F  2015-01-16T10:00:00  2015-01-16T18:00:00

In [34]:
df_coursemeeting = pd.concat([df_cmfall,df_cmspring,dfcmsb1,df_cmsummer,df_cmwinter],axis=0)

In [35]:
df_coursemeeting.to_sql('import_course_meeting', conn, if_exists='append', index=False)

In [36]:
%%sql
SELECT *
FROM import_course_meeting
LIMIT 5;

 * sqlite:///CourseData2.db
Done.

[('Fall2014', 70384, 'DSB 105', 'T', '2014-09-02T08:00:00', '2014-09-02T09:15:00'),
 ('Fall2014', 70384, 'DSB 105', 'F', '2014-09-05T08:00:00', '2014-09-05T09:15:00'),
 ('Fall2014', 70384, 'DSB 105', 'T', '2014-09-09T08:00:00', '2014-09-09T09:15:00'),
 ('Fall2014', 70384, 'DSB 105', 'F', '2014-09-12T08:00:00', '2014-09-12T09:15:00'),
 ('Fall2014', 70384, 'DSB 105', 'T', '2014-09-16T08:00:00', '2014-09-16T09:15:00')]

**Creating the dataframes for import_course_catalog**

In [37]:
cc2017_2018 = ['SourceData/Catalogs/CourseCatalog2017_2018.csv']
dfcc17_18 = pd.read_csv(cc2017_2018[0])
dfcc17_18.sample(5)

,program_code,program_name,catalog_id,course_title,credits,prereqs,coreqs,fees,attributes,description
821,PY,Psychology,PY 0261,Behavioral Neuroscience,3 Credits,NaN,NaN,NaN,NaN,Understanding the brain is one of the last and...
1857,CH,Chemistry,CH 0085,"Chemistry, Energy, and the Environment",3 Credits,NaN,NaN,NaN,"EDCG Educational Studies Cognate, EVME Environ...",This course explores the flow of energy in mod...
79,AS,American Studies,ASEN 0490,The Contemporary American Memoir,3 Credits,NaN,NaN,NaN,NaN,This course is a study of some of the most imp...
868,MK,Marketing,MK 0311,Marketing Research,3 Credits,MK 0101; EC 0278 or MA 0017 or MA 0217 or PY 0...,NaN,NaN,NaN,This course gives students an appreciation of ...
1517,FTM,"Film, Television, and Media Arts",FTM 0206C,American Films: Decades: 1970s,3 Credits,NaN,NaN,NaN,VPCH Visual and Performing Arts Core: History ...,NaN

In [38]:
cc2018_2019 = ['SourceData/Catalogs/CourseCatalog2018_2019.csv']
dfcc18_19 = pd.read_csv(cc2018_2019[0])
dfcc18_19.sample(5)

,program_code,program_name,catalog_id,course_title,credits,prereqs,coreqs,fees,attributes,description
977,MU,Music,MU 0087,Private Lessons: Trombone,2 Credits,NaN,NaN,$575 Music Lesson Fee,NaN,NaN
1608,CI,Chinese,CI 0221,Reading China,3 Credits,CI 0211.,NaN,NaN,WDIV World Diversity,This course has the twin goals of increasing r...
1737,FTM,"Film, Television, and Media Arts",FTM 0208,Television Genres (Shell),3 Credits,FTM 0010.,NaN,NaN,NaN,Basic to understanding television as an art fo...
2121,CO,Communication,CO 0349,Special Topics (Shell),3 Credits,"CO 0200, CO 0220, CO 0240; junior or senior st...",NaN,NaN,NaN,This course focuses on a specific context wher...
1422,MG,Management,MG 0507,Negotiations and Dispute Resolution,3 Credits,MG 0500.,NaN,NaN,NaN,This course uses the theories of negotiation a...

In [39]:
df_catalog = pd.concat([dfcc17_18,dfcc18_19], axis=0)
df_catalog.sample(5)

,program_code,program_name,catalog_id,course_title,credits,prereqs,coreqs,fees,attributes,description
1594,ECE,Electrical and Computer Engineering,ECE 0478,Electromagnetic Compatibility,3 Credits,NaN,NaN,NaN,NaN,This course presents design techniques to mini...
1128,EG,Engineering,EG 0031,Fundamentals of Engineering I,3 Credits,PS 0115*.,NaN,NaN,NaN,This course provides core engineering knowledg...
1350,NS,Nursing,NS 0330,"Community, Public, and Global Health Nursing",4 Credits,NS 0250* or NS 0325*.,NaN,NaN,"HSTE Health Studies: Traditions, Delivery, and...",This course focuses on the care of people in t...
974,NS,Nursing,NS 0303,Basic Pathophysiology and Pharmacology,3 Credits,"BI 0107, BI 0108, CH 0084.",NaN,NaN,NaN,This course focuses on the study of physiologi...
915,ME,Mechanical Engineering,ME 0322,Advanced Dynamics,3 Credits,ME 0203.,NaN,NaN,NaN,The topics in the area of dynamics include deg...

In [40]:
df_catalog.to_sql('import_course_catalog', conn, if_exists='append', index=False)

In [41]:
%%sql
SELECT *
FROM import_course_catalog
LIMIT 10;

 * sqlite:///CourseData2.db
Done.

[('AN', 'Asian Studies', 'AN 0301', 'Independent Study', '1-3 Credits', None, None, None, None, 'Students undertake an individualized program of study in consultation with a director from the Asian studies faculty.'),
 ('AN', 'Asian Studies', 'AN 0310', 'Asian Studies Seminar', '3 Credits', None, None, None, None, 'This seminar examines selected topics concerning Asia. This course is taught in conjunction with another 100-300 level course from a rotation of cour ... (412 characters truncated) ... e term paper in substitution of some portion of the conjoined course requirements, as determined by the instructor. Open to juniors and seniors only.'),
 ('BU', 'Business', 'BU 0211', 'Legal Environment of Business', '3 Credits', 'Junior standing.', None, None, None, 'This course examines the broad philosophical as well as practical nature and function of the legal system, and introduces students to the legal and s ... (171 characters truncated) ... ivil process, and regulatory areas such as employment discrimination, protection of the environment, and corporate governance and securities markets.'),
 ('BU', 'Business', 'BU 0220', 'Environmental Law and Policy', '3 Credits', None, None, None, 'EVME Environmental Studies Major Elective, EVPE Environmental Studies Elective, EVSS Environmental Studies: Social Science, MGEL Management: General Elective', 'This course surveys issues arising out of federal laws designed to protect the environment and manage resources. It considers in detail the role of t ... (298 characters truncated) ... t groups in shaping environmental policy, giving special attention to the impact of environmental regulation on business and private property rights.'),
 ('BU', 'Business', 'BU 0311', 'The Law of Contracts, Sales, and Property', '3 Credits', 'BU 0211.', None, None, None, 'This course examines the components of common law contracts including the concepts of offer and acceptance, consideration, capacity and legality, ass ... (117 characters truncated) ...  the Uniform Commercial Code relating to leases, sales of goods, and warranties. The course also considers personal and real property, and bailments.'),
 ('BU', 'Business', 'BU 0312', 'The Law of Business Organizations and Financial Transactions', '3 Credits', 'BU 0211.', None, None, None, 'This course offers an analysis of legal principles related to the law of agency, sole proprietorships, partnerships, corporations, limited liability  ... (163 characters truncated) ... collections and deposits and secured transactions. Finally, the course examines the law of suretyship, debtor-creditor relationships, and bankruptcy.'),
 ('BU', 'Business', 'BU 0320', 'Employment Law and Discrimination in the Workplace', '3 Credits', None, None, None, 'MGEL Management: General Elective, UDIV U.S. Diversity', 'This course examines a variety of legal issues related to the workplace including the doctrine of employment at will, employee privacy, and the histo ... (279 characters truncated) ... gin, age, and disability occupies a major portion of the course. Other employment issues include affirmative action, worker safety, and compensation.'),
 ('BU', 'Business', 'BU 0391', 'Seminar in Business Law and Ethics', '3 Credits', 'AE 0291, BU 0211, two additional courses in law or applied ethics.', None, None, None, 'This interdisciplinary study of these two aspects of the business environment is cross-listed as'),
 ('BL', 'Black Studies', 'BL 0101', 'Black Lives Matter', '3 Credits', None, None, None, 'ASGW American Studies: Gateway, BSFC Black Studies Focus Course, BSSS Black Studies: Social and Behavioral Sciences, PJST Peace and Justice Studies, UDIV U.S. Diversity', 'In the context of Ferguson, Charleston, and other national crises, this course responds to the call of students from our campus community to raise qu ... (391 characters truncated) ... es. Various faculty will bring to bear their respective scholarly lenses so that students understand race and racism across intellectual disciplines.'),
 ('BL', 'Black Studies', 'BL 0398', 'Independent Study', '1-3 Credits', None, None, None, 'BSCP Black Studies Capstone Course', 'Upon request and by agreement with a professor in the program, a Black Studies minor may conduct a one-semester independent study on a defined research topic or field of study.')]

## Populate ERD Tables with data from Import Tables ##

In [42]:
%%sql

--Populating Course_Meeting table using import_course_meeting data-- 

INSERT INTO Course_Meeting (CRN, Term, Start, Location, Day, End)
SELECT DISTINCT crn, term, start, location, day, end 
FROM import_course_meeting;

 * sqlite:///CourseData2.db
Done.

[]

In [43]:
%%sql 

--Checking data population of Course_Meeting table-- 

SELECT * 
FROM Course_Meeting
LIMIT 5;

 * sqlite:///CourseData2.db
Done.

[(1, 70384, 'Fall2014', '2014-09-02T08:00:00', 'DSB 105', 'T', '2014-09-02T09:15:00'),
 (2, 70384, 'Fall2014', '2014-09-05T08:00:00', 'DSB 105', 'F', '2014-09-05T09:15:00'),
 (3, 70384, 'Fall2014', '2014-09-09T08:00:00', 'DSB 105', 'T', '2014-09-09T09:15:00'),
 (4, 70384, 'Fall2014', '2014-09-12T08:00:00', 'DSB 105', 'F', '2014-09-12T09:15:00'),
 (5, 70384, 'Fall2014', '2014-09-16T08:00:00', 'DSB 105', 'T', '2014-09-16T09:15:00')]

In [44]:
%%sql 

--Populating Catalog table using import_course_catalog data--  

INSERT INTO CATALOG (CatID, Title, Description, Credits, PName, PCode, PREREQS, COREQS, FEES, Attribute)
SELECT DISTINCT catalog_id, course_title, description, credits, program_name, program_code, prereqs, coreqs, fees, attributes
FROM import_course_catalog;

 * sqlite:///CourseData2.db
Done.

[]

In [45]:
%%sql 

--Checking data population of Catalog table-- 

SELECT * 
FROM CATALOG
LIMIT 5;

 * sqlite:///CourseData2.db
Done.

[(1, 'AN 0301', 'Independent Study', 'Students undertake an individualized program of study in consultation with a director from the Asian studies faculty.', '1-3 Credits', 'Asian Studies', 'AN', None, None, None, None),
 (2, 'AN 0310', 'Asian Studies Seminar', 'This seminar examines selected topics concerning Asia. This course is taught in conjunction with another 100-300 level course from a rotation of cour ... (412 characters truncated) ... e term paper in substitution of some portion of the conjoined course requirements, as determined by the instructor. Open to juniors and seniors only.', '3 Credits', 'Asian Studies', 'AN', None, None, None, None),
 (3, 'BU 0211', 'Legal Environment of Business', 'This course examines the broad philosophical as well as practical nature and function of the legal system, and introduces students to the legal and s ... (171 characters truncated) ... ivil process, and regulatory areas such as employment discrimination, protection of the environment, and corporate governance and securities markets.', '3 Credits', 'Business', 'BU', 'Junior standing.', None, None, None),
 (4, 'BU 0220', 'Environmental Law and Policy', 'This course surveys issues arising out of federal laws designed to protect the environment and manage resources. It considers in detail the role of t ... (298 characters truncated) ... t groups in shaping environmental policy, giving special attention to the impact of environmental regulation on business and private property rights.', '3 Credits', 'Business', 'BU', None, None, None, 'EVME Environmental Studies Major Elective, EVPE Environmental Studies Elective, EVSS Environmental Studies: Social Science, MGEL Management: General Elective'),
 (5, 'BU 0311', 'The Law of Contracts, Sales, and Property', 'This course examines the components of common law contracts including the concepts of offer and acceptance, consideration, capacity and legality, ass ... (117 characters truncated) ...  the Uniform Commercial Code relating to leases, sales of goods, and warranties. The course also considers personal and real property, and bailments.', '3 Credits', 'Business', 'BU', 'BU 0211.', None, None, None)]

In [46]:
%%sql 

--Populating Instructor table using import_courses data--  

INSERT INTO Instructor (Name)
SELECT DISTINCT primary_instructor
FROM import_course
WHERE primary_instructor <> 'TBA' AND primary_instructor NOT LIKE 'primary_instructor' AND primary_instructor NOT LIKE '%/';

 * sqlite:///CourseData2.db
Done.

[]

In [47]:
%%sql 

--Checking data population of Instructor table-- 

SELECT * 
FROM Instructor
LIMIT 5;

 * sqlite:///CourseData2.db
Done.

[(1, 'Michael P.  Coyne'),
 (2, 'Rebecca I.  Bloch'),
 (3, 'Paul   Caster'),
 (4, 'Jo Ann   Drusbosky'),
 (5, 'Arleen N.  Kardos')]

In [48]:
%%sql 

--Populating the SECTION table using import_course data--
--Joining Instructor table using import_course and instructor table--

INSERT INTO SECTION (CRN, Term, Section, Cap, Act, Rem, CatID, CatalogClassifier, InID)
SELECT crn, term, section, cap, act, rem, catalog_id, CatalogClassifier, InID
FROM import_course
    JOIN Instructor ON (import_course.primary_instructor = Instructor.Name)
    JOIN Catalog ON (import_course.catalog_id = Catalog.CatID)
;

 * sqlite:///CourseData2.db
Done.

[]

In [49]:
%%sql 

--Checking data population of Section table--

SELECT * 
FROM Section
LIMIT 30;

 * sqlite:///CourseData2.db
Done.

[(1, 70384, 'Fall2014', 'C01', 0, 31, -31, 'AC 0011', 113, 1),
 (2, 70385, 'Fall2014', 'C02', 0, 31, -31, 'AC 0011', 113, 1),
 (3, 70382, 'Fall2014', 'C03', 0, 31, -31, 'AC 0011', 113, 1),
 (4, 70291, 'Fall2014', 'C04', 0, 29, -29, 'AC 0011', 113, 2),
 (5, 70350, 'Fall2014', 'C05', 0, 30, -30, 'AC 0011', 113, 2),
 (6, 70381, 'Fall2014', 'C06', 0, 31, -31, 'AC 0011', 113, 2),
 (7, 70383, 'Fall2014', 'G', 30, 31, -1, 'AC 0011', 113, 3),
 (8, 70391, 'Fall2014', 'H', 30, 32, -2, 'AC 0011', 113, 4),
 (9, 71105, 'Fall2014', 'I', 30, 33, -3, 'AC 0011', 113, 4),
 (10, 71123, 'Fall2014', 'J', 30, 32, -2, 'AC 0011', 113, 4),
 (11, 71208, 'Fall2014', 'K', 30, 34, -4, 'AC 0011', 113, 4),
 (12, 71763, 'Fall2014', 'L', 30, 31, -1, 'AC 0011', 113, 5),
 (13, 72615, 'Fall2014', 'M', 30, 31, -1, 'AC 0011', 113, 5),
 (14, 72616, 'Fall2014', 'N', 30, 26, 4, 'AC 0011', 113, 6),
 (15, 70387, 'Fall2014', 'O', 30, 31, -1, 'AC 0011', 113, 7),
 (16, 70292, 'Fall2014', 'A', 30, 17, 13, 'AC 0012', 135, 8),
 (17, 70070, 'Fall2014', 'A', 28, 28, 0, 'AC 0203', 136, 9),
 (18, 70071, 'Fall2014', 'B', 28, 28, 0, 'AC 0203', 136, 9),
 (19, 73161, 'Fall2014', 'D', 17, 16, 1, 'AC 0203', 136, 9),
 (20, 73162, 'Fall2014', 'E', 24, 22, 2, 'AC 0203', 136, 9),
 (21, 70601, 'Fall2014', 'A', 10, 12, -2, 'AC 0204', 137, 10),
 (22, 70360, 'Fall2014', 'AAA', 10, 1, 9, 'AC 0204', 137, 10),
 (23, 71437, 'Fall2014', 'A', 24, 27, -3, 'AC 0310', 158, 11),
 (24, 71439, 'Fall2014', 'A', 10, 15, -5, 'AC 0320', 159, 8),
 (25, 70797, 'Fall2014', 'AAA', 10, 6, 4, 'AC 0320', 159, 8),
 (26, 70307, 'Fall2014', 'B', 28, 27, 1, 'AC 0320', 159, 8),
 (27, 70283, 'Fall2014', 'A', 25, 28, -3, 'AC 0330', 161, 3),
 (28, 72064, 'Fall2014', 'B', 25, 23, 2, 'AC 0330', 161, 3),
 (29, 71120, 'Fall2014', 'A', 10, 16, -6, 'AC 0343', 187, 12),
 (30, 70940, 'Fall2014', 'AAA', 10, 7, 3, 'AC 0343', 187, 12)]

## Drop Import Tables ##

In [50]:
%%sql
--Drop import tables--
DROP TABLE IF EXISTS import_course;
DROP TABLE IF EXISTS import_course_meeting;
DROP TABLE IF EXISTS import_course_catalog;

 * sqlite:///CourseData2.db
Done.
Done.
Done.

[]