# **Create a SQLite database called CourseData.db**

In [41]:
%load_ext sql
%sql sqlite:///CourseData.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: @CourseData.db'

In [39]:
%%sql
DROP TABLE IF EXISTS SECTION;
DROP TABLE IF EXISTS COURSE;
DROP TABLE IF EXISTS INSTRUCTOR;
DROP TABLE IF EXISTS COURSE_MEETINGS;

 * sqlite:///CourseData.db
Done.
Done.
Done.
Done.

[]

In [40]:
%%sql
CREATE TABLE 'INSTRUCTOR' (
    InID INTEGER PRIMARY KEY,
    Name TEXT 
);

 * sqlite:///CourseData.db
Done.

[]

In [33]:
%%sql

CREATE TABLE 'COURSE'(
    CatID VARCHAR PRIMARY KEY,
    Title VARCHAR NOT NULL,
    Description TEXT NOT NULL,
    Credits TEXT,
    PName TEXT NOT NULL,
    PCODE INTEGER,
    PREREQS TEXT,
    COREQS TEXT,
    FEES INTEGER,
    Attribute TEXT,
    FOREIGN KEY (CatID) REFERENCES COURSE(CID)
    
);

 * sqlite:///CourseData.db
Done.

[]

In [34]:
###Having trouble with the FKs for the SECTION Table......

In [35]:
%%sql
CREATE TABLE 'SECTION'(
    CRN INTEGER PRIMARY KEY,
    Term TEXT NOT NULL,
    Section VARCHAR,
    Cap INTEGER,
    Act INTEGER,
    Rem INTEGER,
    CatID INTEGER,
    InID INTEGER,
    FOREIGN KEY (CatID) REFERENCES COURSE(CatID),
    FOREIGN KEY (InID) REFERENCES INSTRUCTOR(InID)
);

 * sqlite:///CourseData.db
Done.

[]

In [37]:
%%sql
CREATE TABLE 'COURSE_MEETINGS' (
    CRN INTEGER,
    Term TEXT,
    Start TEXT,
    Location VARCHAR NOT NULL,
    Day TEXT NOT NULL,
    End TEXT NOT NULL,
    PRIMARY KEY(CRN, Term, Start)
    FOREIGN KEY (CRN) REFERENCES SECTION(CRN),
    FOREIGN KEY (Term) REFERENCES SECTION(Term)
);

 * sqlite:///CourseData.db
Done.

[]