# **Create a SQLite database called CourseData.db**

In [1]:
%load_ext sql
%sql sqlite:///CourseData.db

'Connected: @CourseData.db'

In [2]:
%%sql
DROP TABLE IF EXISTS SECTION;
DROP TABLE IF EXISTS COURSE;
DROP TABLE IF EXISTS INSTRUCTOR;
DROP TABLE IF EXISTS COURSE_MEETINGS;

 * sqlite:///CourseData.db
Done.
Done.
Done.
Done.

[]

In [3]:
%%sql
CREATE TABLE 'INSTRUCTOR' (
    InID INTEGER NOT NULL PRIMARY KEY,
    Name TEXT NOT NULL
);

 * sqlite:///CourseData.db
Done.

[]

In [4]:
%%sql

CREATE TABLE 'COURSE'(
    CatID VARCHAR PRIMARY KEY,
    Title VARCHAR NOT NULL,
    Description TEXT NOT NULL,
    Credits TEXT NOT NULL,
    PName TEXT NOT NULL,
    PCode TEXT,
    PREREQS TEXT,
    COREQS TEXT,
    FEES INTEGER,
    Attribute TEXT,
    FOREIGN KEY (CatID) REFERENCES COURSE(CatID)
    
);

 * sqlite:///CourseData.db
Done.

[]

In [5]:
%%sql
CREATE TABLE 'SECTION'(
    SID INTEGER NOT NULL PRIMARY KEY,
    CRN INTEGER NOT NULL,
    Term TEXT NOT NULL,
    Section VARCHAR NOT NULL,
    Cap INTEGER,
    Act INTEGER,
    Rem INTEGER,
    CatID VARCHAR,
    InID INTEGER,
    FOREIGN KEY (CatID) REFERENCES COURSE(CatID),
    FOREIGN KEY (InID) REFERENCES INSTRUCTOR(InID)
);

 * sqlite:///CourseData.db
Done.

[]

In [6]:
%%sql
CREATE TABLE 'COURSE_MEETINGS' (
    MID INTEGER NOT NULL PRIMARY KEY,
    CRN INTEGER NOT NULL,
    Term TEXT NOT NULL,
    Start TEXT NOT NULL,
    Location VARCHAR NOT NULL,
    Day TEXT NOT NULL,
    End TEXT NOT NULL,
    FOREIGN KEY (CRN) REFERENCES SECTION(CRN),
    FOREIGN KEY (Term) REFERENCES SECTION(Term)
);

 * sqlite:///CourseData.db
Done.

[]

In [7]:
%%sql
INSERT INTO Course_Meetings (CRN, Term, Start, Location, Day, End)
SELECT DISTINCT crn, term, start, location, day, end 
FROM import_course_meetings;

 * sqlite:///CourseData.db
311142 rows affected.

[]

In [8]:
%%sql 
SELECT * 
FROM Course_Meetings
LIMIT 10;

 * sqlite:///CourseData.db
Done.

[(1, 70384, 'Fall2014', '2014-09-02T08:00:00', 'DSB 105', 'T', '2014-09-02T09:15:00'),
 (2, 70384, 'Fall2014', '2014-09-05T08:00:00', 'DSB 105', 'F', '2014-09-05T09:15:00'),
 (3, 70384, 'Fall2014', '2014-09-09T08:00:00', 'DSB 105', 'T', '2014-09-09T09:15:00'),
 (4, 70384, 'Fall2014', '2014-09-12T08:00:00', 'DSB 105', 'F', '2014-09-12T09:15:00'),
 (5, 70384, 'Fall2014', '2014-09-16T08:00:00', 'DSB 105', 'T', '2014-09-16T09:15:00'),
 (6, 70384, 'Fall2014', '2014-09-19T08:00:00', 'DSB 105', 'F', '2014-09-19T09:15:00'),
 (7, 70384, 'Fall2014', '2014-09-23T08:00:00', 'DSB 105', 'T', '2014-09-23T09:15:00'),
 (8, 70384, 'Fall2014', '2014-09-26T08:00:00', 'DSB 105', 'F', '2014-09-26T09:15:00'),
 (9, 70384, 'Fall2014', '2014-09-30T08:00:00', 'DSB 105', 'T', '2014-09-30T09:15:00'),
 (10, 70384, 'Fall2014', '2014-10-03T08:00:00', 'DSB 105', 'F', '2014-10-03T09:15:00')]

In [9]:
%%sql 
INSERT INTO Course (CatID, Title, Description, Credits, PName, PCode, PREREQS, COREQS, FEES, Attribute)
SELECT DISTINCT catalog_id, course_title, description, credits, program_name, program_code, prereqs, coreqs, fees, attributes
FROM import_catalogs;

 * sqlite:///CourseData.db
2221 rows affected.

[]

In [10]:
%%sql 
SELECT * 
FROM Course
LIMIT 10;

 * sqlite:///CourseData.db
Done.

[('AN 0301', 'Independent Study', 'Students undertake an individualized program of study in consultation with a director from the Asian studies faculty.', '1-3 Credits', 'Asian Studies', 'AN', '', '', '', ''),
 ('AN 0310', 'Asian Studies Seminar', 'This seminar examines selected topics concerning Asia. This course is taught in conjunction with another 100-300 level course from a rotation of cour ... (412 characters truncated) ... e term paper in substitution of some portion of the conjoined course requirements, as determined by the instructor. Open to juniors and seniors only.', '3 Credits', 'Asian Studies', 'AN', '', '', '', ''),
 ('BU 0211', 'Legal Environment of Business', 'This course examines the broad philosophical as well as practical nature and function of the legal system, and introduces students to the legal and s ... (171 characters truncated) ... ivil process, and regulatory areas such as employment discrimination, protection of the environment, and corporate governance and securities markets.', '3 Credits', 'Business', 'BU', 'Junior standing.', '', '', ''),
 ('BU 0220', 'Environmental Law and Policy', 'This course surveys issues arising out of federal laws designed to protect the environment and manage resources. It considers in detail the role of t ... (298 characters truncated) ... t groups in shaping environmental policy, giving special attention to the impact of environmental regulation on business and private property rights.', '3 Credits', 'Business', 'BU', '', '', '', 'EVME Environmental Studies Major Elective, EVPE Environmental Studies Elective, EVSS Environmental Studies: Social Science, MGEL Management: General Elective'),
 ('BU 0311', 'The Law of Contracts, Sales, and Property', 'This course examines the components of common law contracts including the concepts of offer and acceptance, consideration, capacity and legality, ass ... (117 characters truncated) ...  the Uniform Commercial Code relating to leases, sales of goods, and warranties. The course also considers personal and real property, and bailments.', '3 Credits', 'Business', 'BU', 'BU 0211.', '', '', ''),
 ('BU 0312', 'The Law of Business Organizations and Financial Transactions', 'This course offers an analysis of legal principles related to the law of agency, sole proprietorships, partnerships, corporations, limited liability  ... (163 characters truncated) ... collections and deposits and secured transactions. Finally, the course examines the law of suretyship, debtor-creditor relationships, and bankruptcy.', '3 Credits', 'Business', 'BU', 'BU 0211.', '', '', ''),
 ('BU 0320', 'Employment Law and Discrimination in the Workplace', 'This course examines a variety of legal issues related to the workplace including the doctrine of employment at will, employee privacy, and the histo ... (279 characters truncated) ... gin, age, and disability occupies a major portion of the course. Other employment issues include affirmative action, worker safety, and compensation.', '3 Credits', 'Business', 'BU', '', '', '', 'MGEL Management: General Elective, UDIV U.S. Diversity'),
 ('BU 0391', 'Seminar in Business Law and Ethics', 'This interdisciplinary study of these two aspects of the business environment is cross-listed as', '3 Credits', 'Business', 'BU', 'AE 0291, BU 0211, two additional courses in law or applied ethics.', '', '', ''),
 ('BL 0101', 'Black Lives Matter', 'In the context of Ferguson, Charleston, and other national crises, this course responds to the call of students from our campus community to raise qu ... (391 characters truncated) ... es. Various faculty will bring to bear their respective scholarly lenses so that students understand race and racism across intellectual disciplines.', '3 Credits', 'Black Studies', 'BL', '', '', '', 'ASGW American Studies: Gateway, BSFC Black Studies Focus Course, BSSS Black Studies: Social and Behavioral Sciences, PJST Peace and Justice Studies, UDIV U.S. Diversity'),
 ('BL 0398', 'Independent Study', 'Upon request and by agreement with a professor in the program, a Black Studies minor may conduct a one-semester independent study on a defined research topic or field of study.', '1-3 Credits', 'Black Studies', 'BL', '', '', '', 'BSCP Black Studies Capstone Course')]

In [11]:
%%sql 
INSERT INTO Instructor (Name)
SELECT DISTINCT primary_instructor
FROM import_courses;

 * sqlite:///CourseData.db
1105 rows affected.

[]

In [12]:
%%sql 
SELECT * 
FROM Instructor
LIMIT 10;

 * sqlite:///CourseData.db
Done.

[(1, 'Michael P.  Coyne'),
 (2, 'Rebecca I.  Bloch'),
 (3, 'Paul   Caster'),
 (4, 'Jo Ann   Drusbosky'),
 (5, 'Arleen N.  Kardos'),
 (6, 'Scott M  Brenner'),
 (7, 'Kevin C.  Cassidy'),
 (8, 'Bruce   Bradford'),
 (9, 'Milo W.  Peck'),
 (10, 'Stephen E.  Yost')]

In [16]:
%%sql 
INSERT INTO SECTION (CRN, Term, Section, Cap, Act, Rem)
SELECT crn, term, section, cap, act, rem 
FROM import_courses
;

 * sqlite:///CourseData.db
17435 rows affected.

[]

In [17]:
%%sql 
SELECT * 
FROM Section
LIMIT 10;

 * sqlite:///CourseData.db
Done.

[(1, 70384, 'Fall2014', 'C01', 0, 31, -31, None, None),
 (2, 70385, 'Fall2014', 'C02', 0, 31, -31, None, None),
 (3, 70382, 'Fall2014', 'C03', 0, 31, -31, None, None),
 (4, 70291, 'Fall2014', 'C04', 0, 29, -29, None, None),
 (5, 70350, 'Fall2014', 'C05', 0, 30, -30, None, None),
 (6, 70381, 'Fall2014', 'C06', 0, 31, -31, None, None),
 (7, 70383, 'Fall2014', 'G', 30, 31, -1, None, None),
 (8, 70391, 'Fall2014', 'H', 30, 32, -2, None, None),
 (9, 71105, 'Fall2014', 'I', 30, 33, -3, None, None),
 (10, 71123, 'Fall2014', 'J', 30, 32, -2, None, None)]