In [1]:
# Kerry's Edits

In [2]:
%load_ext sql
%sql sqlite:///CourseDataWarehouse.db

'Connected: @CourseDataWarehouse.db'

In [3]:
%%sql 
sqlite:///CourseData.db

'Connected: @CourseData.db'

In [4]:
%%sql
DROP TABLE IF EXISTS CALCULATIONS;

 * sqlite:///CourseData.db
   sqlite:///CourseDataWarehouse.db
Done.

[]

In [5]:
%%sql
CREATE TABLE 'CALCULATIONS'(
    AvgCap INTERGER,
    SumHours INTEGER
);

 * sqlite:///CourseData.db
   sqlite:///CourseDataWarehouse.db
Done.

[]

In [6]:
%%sql
SELECT *
FROM CALCULATIONS
;

 * sqlite:///CourseData.db
   sqlite:///CourseDataWarehouse.db
Done.

[]

In [ ]:
%%sql
INSERT INTO CALCULATIONS (AvgCap, SumHours)
SELECT 
FROM