In [1]:
# Roll Up Columns

In [2]:
import pandas as pd 
import numpy as np
import sqlite3
conn = sqlite3.connect('CourseData2.db')
c = conn.cursor()

In [3]:
%load_ext sql

In [4]:
%%sql
sqlite:///CourseDataWarehouse.db

'Connected: @CourseDataWarehouse.db'

In [5]:
%%sql
DROP TABLE IF EXISTS COURSE;
DROP TABLE IF EXISTS MEETING;
DROP TABLE IF EXISTS LOCATION;
DROP TABLE IF EXISTS INSTRUCTOR;
DROP TABLE IF EXISTS CATALOG;
DROP TABLE IF EXISTS TIME;
DROP TABLE IF EXISTS CALCULATIONS;

 * sqlite:///CourseDataWarehouse.db
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

## Create DataWarehouse Tables ##

In [6]:
%%sql
--Creating Fact Table: Course-- 

CREATE TABLE 'COURSE' (
    SID INTEGER NOT NULL PRIMARY KEY,
    CRN INTEGER NOT NULL,
    Term TEXT NOT NULL,
    Section VARCHAR NOT NULL,
    Cap INTEGER,
    Act INTEGER,
    Rem INTEGER,
    CountTimeCode INTEGER,
    AvgCap INTEGER,
    CountCRN, INTEGER,
    SumHours INTEGER,
    CountLocation INTEGER,
    CountProgramName INTEGER, 
    CatalogClassifier INTEGER, 
    InID INTEGER,
    Location VARCHAR,
    TimeCode VARCHAR,
    PID INTEGER, 
    FOREIGN KEY (CatalogClassifier) REFERENCES CATALOG(CatalogClassifier),
    FOREIGN KEY (InID) REFERENCES INSTRUCTOR(InID),
    FOREIGN KEY (Location) REFERENCES Location(Location),
    FOREIGN KEY (TimeCode) REFERENCES TIME(TimeCode),
    FOREIGN KEY (PID) REFERENCES Program(PID)
    
);

 * sqlite:///CourseDataWarehouse.db
Done.

[]

In [7]:
%%sql
--Creating Fact Table: Meeting--
    
CREATE TABLE 'MEETING' (
    MID INTEGER NOT NULL PRIMARY KEY, 
    Term TEXT NOT NULL,
    CRN INTEGER NOT NULL,
    Location VARCHAR,
    TimeCode VARCHAR,
    CountMID INTEGER,
    CountTimeCode INTEGER,
    SumHours INTEGER,
    CountLocation INTEGER,
    FOREIGN KEY (Location) REFERENCES LOCATION(Location),
    FOREIGN KEY (TimeCode) REFERENCES TIME(TimeCode)
    
);

 * sqlite:///CourseDataWarehouse.db
Done.

[]

In [8]:
%%sql
--Creating Dimension Table: Catalog--
    
CREATE TABLE 'CATALOG' (
    CatalogClassifier INTEGER NOT NULL PRIMARY KEY,
    CatID VARCHAR,
    Title VARCHAR NOT NULL,
    Description TEXT,
    Credits TEXT NOT NULL,
    PREREQS TEXT,
    COREQS TEXT,
    FEES INTEGER,
    Attribute TEXT
    
);

 * sqlite:///CourseDataWarehouse.db
Done.

[]

In [9]:
%%sql
--Creating Dimension Table: Instructor--

CREATE TABLE 'INSTRUCTOR' (
    InID INTEGER NOT NULL PRIMARY KEY,
    Name TEXT NOT NULL
);

 * sqlite:///CourseDataWarehouse.db
Done.

[]

In [10]:
%%sql
--Create Dimension Table: Location--
    
CREATE TABLE 'LOCATION' (
    Location VARCHAR NOT NULL PRIMARY KEY,
    Room VARCHAR,
    Building VARCHAR
);

 * sqlite:///CourseDataWarehouse.db
Done.

[]

In [11]:
%%sql
--Create Dimension Table: Time--
    
CREATE TABLE 'TIME' (
    TimeCode VARCHAR NOT NULL PRIMARY KEY,
    Start TEXT,
    End TEXT,
    Day TEXT
);

 * sqlite:///CourseDataWarehouse.db
Done.

[]

In [12]:
%%sql
--Create Dimension Table: Time--
    
CREATE TABLE 'PROGRAM' (
    PID INTEGER NOT NULL PRIMARY KEY,
    PName TEXT,
    PCode VARCHAR
);

 * sqlite:///CourseDataWarehouse.db
Done.

[]

## Populate Tables ##