In [1]:
%load_ext sql

In [2]:
%%sql
sqlite:///CourseData2.db

'Connected: @CourseData2.db'

In [5]:
%%sql
/* Using SELECT DISTINCT to look for duplicate a data records  */
SELECT COUNT(CatID),COUNT(Title)
    FROM Catalog;

 * sqlite:///CourseData2.db
Done.

[(2236, 2236)]

In [6]:
%%sql
/* Using SELECT DISTINCT to look for duplicate a data records  */

SELECT DISTINCT COUNT(CatID), COUNT(Title)
    FROM Catalog;

 * sqlite:///CourseData2.db
Done.

[(2236, 2236)]

In [7]:
%%sql
/* Using SELECT DISTINCT to look for duplicate a data records  */
SELECT COUNT(Name)
    FROM Instructor;

 * sqlite:///CourseData2.db
Done.

[(1103,)]

In [8]:
%%sql
/* Using SELECT DISTINCT to look for duplicate a data records  */
SELECT DISTINCT COUNT(Name)
    FROM Instructor;

 * sqlite:///CourseData2.db
Done.

[(1103,)]

In [9]:
%%sql
/* Using SELECT DISTINCT to look for duplicate a data records  */
SELECT COUNT(CRN)
    FROM Section;

 * sqlite:///CourseData2.db
Done.

[(15306,)]

In [10]:
%%sql
/* Using SELECT DISTINCT to look for duplicate a data records  */
SELECT DISTINCT COUNT(CRN)
    FROM Section;

 * sqlite:///CourseData2.db
Done.

[(15306,)]

In [11]:
%%sql
/* Using SELECT DISTINCT to look for duplicate a data records  */
SELECT COUNT(CRN)
    FROM Course_Meeting;

 * sqlite:///CourseData2.db
Done.

[(311141,)]

In [13]:
%%sql
/* Using SELECT DISTINCT to look for duplicate a data records  */
SELECT DISTINCT COUNT(CRN)
    FROM Course_Meeting;

 * sqlite:///CourseData2.db
Done.

[(311141,)]

In [14]:
%%sql
/* Using SELECT DISTINCT to look for duplicate a data records  */
SELECT COUNT(PName), COUNT(PCode)
    FROM Program;

 * sqlite:///CourseData2.db
Done.

[(83, 83)]

In [15]:
%%sql
/* Using SELECT DISTINCT to look for duplicate a data records  */
SELECT DISTINCT COUNT(PName), COUNT(PCode)
    FROM Program;

 * sqlite:///CourseData2.db
Done.

[(83, 83)]